/* ------------------- Regles pour toutes les sections -------------------- */  
html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


*, *:before, *:after{ 
    margin : 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
} 

body {
    background: radial-gradient(ellipse, rgb(98, 153, 173) 5%, rgb(194, 215, 224) 100%);
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

}

/* ------------------- INDEX -------------------- */

h1, #panierVide{
    color:#2E2C23;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width:100%;
    border-radius:25px;
    padding:2rem;
    background-color: rgb(214, 228, 233);
    transition: .5s;
    gap:0px 15px;
}

form p {
    margin:0;
    width: 100%;
    padding: 5px 0;
}

form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    flex-direction: column;
    color:#2E2C23;
    font-weight: 500;
    font-size: 1.2rem;
}

form input, #btnRecap {
    width: 100%;
    border-radius: 5px;
    border: none;
    outline:none;
    height: 1.75rem;
    transition:.5s;
}


input, #btnRecap {
    font-size: 1.2rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;
}

input {
    width:fit-content;
}

input name, price, qtt{
    align-items: center;

}

input:hover {
    background-color: #5291a8;
    color:#ecf3f3;
    cursor:pointer;
    transform: scale(1.03);
}

#btnRecap:hover {
    background-color: #5291a8;
    color:#ecf3f3;
    cursor:pointer;
    transform: scale(1.03);
}

#nombreProducts{
    width:fit-content;
    margin: 0;
    padding: 5px 0;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

/* ------------------- RECAP -------------------- */

#list {
    border-collapse:collapse;
    padding:5px;
    margin:1.5rem 0;
    background-color: rgb(214, 228, 233);
}

#list tr, thead {
    background-color: rgb(245, 245, 245);
    text-align: center;
}

#list thead th{
    font-weight: bold;
    text-align: center;
}

#list th {
    font-size: 0.85rem;
    padding:1.25rem;
    text-align: start;
}

#list td {
    padding:1.25rem;
    border-top: 1px rgb(202, 202, 202) solid;
    text-align: center;
}

#list tr:last-of-type td{
    font-weight: bold;
    /*align-content: center;*/
}



#modifier1, #modifier2, #modifier3 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0.5rem;
    font-size: 1rem;
    color: #2E2C23;
    background-color: #ecf3f3;
    width: 30px;
    height:30px;
    border-radius: 50%;
    transition: .3s;
}

#modifier1:hover {
    transform: scale(1.2);
    background-color: green;
    color: #ecf3f3;
}


#modifier2:hover {
    transform: scale(1.2);
    background-color: #110ad6;
    color: #ecf3f3;
}

#modifier3:hover {
    transform: scale(1.2);
    background-color: #d60a0a;
    color: #ecf3f3;
}



#formRecap{
    flex-direction: row;

}

#btnRemoveAll, #btnIndex {
    font-size: 1.2rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;
    border-radius: 5px;
    border: none;
    outline:none;
    height: 1.75rem;
    transition:.5s;
}

#btnRemoveAll:hover, #btnIndex:hover {
    background-color: #5291a8;
    color:#ecf3f3;
    cursor:pointer;
    transform: scale(1.03);
}