/* ------------------- Regles pour toutes les sections -------------------- */  
html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


*, *:before, *:after{ 
    margin : 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
} 

body {
    background: radial-gradient(ellipse, rgb(98, 153, 173) 5%, rgb(194, 215, 224) 100%);
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

}

/* ------------------- INDEX -------------------- */

h1 {
    color:#2E2C23;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width:100%;
    border-radius:25px;
    padding:2rem;
    background-color: rgb(214, 228, 233);
    transition: .5s;
    gap:0px 15px;
}

form p {
    margin:0;
    width: 100%;
    padding: 5px 0;
}

form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    flex-direction: column;
    color:#2E2C23;
    font-weight: 500;
    font-size: 1.2rem;
}

form input, #btnRecap {
    width: 100%;
    border-radius: 5px;
    border: none;
    outline:none;
    height: 1.75rem;
    transition:.5s;
}


input, #btnRecap {
    font-size: 1.2rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;
}

input {
    width:fit-content;
}

input name, price, qtt{
    align-items: center;

}

input:hover {
    background-color: #5291a8;
    color:#ecf3f3;
    cursor:pointer;
}

#btnRecap:hover {
    background-color: #5291a8;
    color:#ecf3f3;
    cursor:pointer;
}

#nombreProducts{
    width:fit-content;
    margin: 0;
    padding: 5px 0;
    justify-content: center;
    justify-items: center;
    align-items: center;

}