/* ------------------- Regles pour toutes les sections -------------------- */  
html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


*, *:before, *:after{ 
    margin : 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
} 

body {
     background: radial-gradient(ellipse, rgb(98, 153, 173) 5%, rgb(194, 215, 224) 100%);

}

/* ------------------- INDEX -------------------- */

#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    min-height: 100vh;
}

#form {
    max-width:500px ;
}

.success, .addQuantity{
    background-color: green;
    color : white;
    padding: 10px;
    border-radius: 10px;
    top : 20px;
    left : 20px;
    position: fixed;
    animation: fadeOut 8s forwards;
}

.insuccess, .removeAll, .removeProduct{
    background-color: #d60a0a;
    color : white;
    padding: 10px;
    border-radius: 10px;
    top : 20px;
    left : 20px;
    position: fixed;
    animation: fadeOut 8s forwards;
}

.deleteQuantity{
    background-color: #110ad6;
    color : white;
    padding: 10px;
    border-radius: 10px;
    top : 20px;
    left : 20px;
    position: fixed;
    animation: fadeOut 8s forwards;
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
 }

 /*
 .success:hover, .addQuantity:hover, .deleteQuantity:hover, .insuccess:hover, .removeAll:hover, .removeProduct:hover{
    opacity: 100%;
 }
*/

h1, #panierVide{
    color:#2E2C23;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width:100%;
    border-radius:25px;
    padding:2rem;
    background-color: rgb(214, 228, 233);
    transition: .5s;
    gap:0px 15px;
}

form p {
    margin:0;
    width: 100%;
    padding: 5px 0;
}

form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    flex-direction: column;
    color:#2E2C23;
    font-weight: 500;
    font-size: 1.2rem;
}

form #inputText, #inputSubmit, #btnRecap, #btnRemoveAllIndex, #btnAdd {
    width: 100%;
    border-radius: 5px;
    border: none;
    outline:none;
    color: #2E2C23;
    height: 1.75rem;
    transition:.5s;
}
/*
.inputFile  {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input label {
    display: block;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
  }

  input:hover + label,
input:focus + label {
  transform: scale(1.02);
}

input:focus + label {
    outline: 1px solid #000;
    outline: -webkit-focus-ring-color auto 2px;
  }


/*
.inputFile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputFile::-webkit-file-upload-button  {
    visibility: hidden;
}

.inputFile::before {
    width:fit-content;
    margin-right: auto;
    margin-left: auto;
    content: "Sélectionnez l'image";
    color: #2E2C23;
    display: inline-block;
    background-color: white;
    /*border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
   
    cursor: pointer;
    
    font-weight: 500;
    font-size: 1.2rem;
  }
  .inputFile:hover::before {
    background-color: #5291a8;
    color:#ecf3f3;
    cursor:pointer;
    transform: scale(1.03);
  }
  .inputFile:active {
    outline: 0;
  }
  .inputFile:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }
*/

#inputText, #inputSubmit, #btnRecap, #btnRemoveAllIndex, #btnAdd {
    font-size: 1.2rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;
}

#btnRecap, #inputFile{
    margin-bottom: 10px;
}

#btnRemoveAllIndex, #btnAdd{
    margin-top: 10px;
}

input {
    width:fit-content;
}


#inputText:hover, #inputSubmit:hover{
    background-color: #5291a8;
    color:#ecf3f3;
    cursor:pointer;
    transform: scale(1.03);
}

#btnRecap:hover, #btnRemoveAllIndex:hover, #btnAdd:hover{
    background-color: #5291a8;
    color:#ecf3f3;
    cursor:pointer;
    transform: scale(1.03);
}

#nombreProducts, #totalElements{
    width:fit-content;
    margin: 10px 0;
    padding: 5px 0;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color:#2E2C23;
    font-weight: 500;
    font-size: 1.2rem;

}

/* ------------------- RECAP -------------------- */

#list {
    border-collapse:collapse;
    padding:5px;
    margin:1.5rem 0;
    background-color: rgb(214, 228, 233);
    align-items: center;
}

#list tr, thead {
    background-color: rgb(245, 245, 245);
    text-align: center;
}

#list thead th{
    font-weight: bold;
    text-align: center;
}

#list th {
    font-size: 0.85rem;
    padding:1.25rem;
    text-align: start;
}

#list td {
    padding:1.25rem;
    border-top: 1px rgb(202, 202, 202) solid;
    text-align: center;
}




#modifier1, #modifier2, #modifier3 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0.5rem;
    font-size: 1rem;
    color: #2E2C23;
    background-color: #ecf3f3;
    width: 30px;
    height:30px;
    border-radius: 50%;
    transition: .3s;
}

#modifier1:hover {
    transform: scale(1.2);
    background-color: green;
    color: #ecf3f3;
}


#modifier2:hover {
    transform: scale(1.2);
    background-color: #110ad6;
    color: #ecf3f3;
}

#modifier3:hover {
    transform: scale(1.2);
    background-color: #d60a0a;
    color: #ecf3f3;
}



#formRecap{
    flex-direction: row;
    justify-content: space-evenly;
}

#btnIndex, #btnRemoveAll  {
    font-size: 1.2rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    border-radius: 5px;
    border: none;
    outline:none;
    height: 1.75rem;
    transition:.5s;
    width: auto;
    margin: 0;
}

#btnRemoveAll:hover, #btnIndex:hover {
    background-color: #5291a8;
    color:#ecf3f3;
    cursor:pointer;
    transform: scale(1.03);
}

/* ------------------- MODAL -------------------- */

.modal_content {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer le contenu de la modal horizontalement et verticalement */
    max-width: 80%; /* Limiter la largeur du contenu pour éviter que la modal ne soit trop grande sur les écrans larges */
}

.modal_btn {
    cursor:pointer;
}

.modal_content img {
    width:40%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;
}
  
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    transition: .3s;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
